<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dashboard</title>
</head>
<body>

<h1>Dashboard</h1>

<h3>사용자 정보</h3>

<p>
  사용자명:
  <span th:text="${sessionUserInfo.username}"></span>
</p>

<p>
  세션 ID:
  <span th:text="${sessionUserInfo.sessionId}"></span>
</p>

<p>
  Authentication 구현체:
  <span th:text="${sessionUserInfo.authenticationClass}"></span>
</p>

<hr>

<h3>HttpSession 내부 SecurityContext</h3>

<pre th:text="${securityContext}"></pre>

<hr>

<form method="post" action="/logout">



  <button type="submit">
    로그아웃
  </button>

</form>

</body>
</html>